[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
pytest-helm-charts = "~=1.1.2"
pytest = "~=8.0.0"
pykube-ng = "~=23.6.0"
pytest-rerunfailures = "~=13.0"
requests = "~=2.31.0"
pyopenssl = "~=24.0.0"

[requires]
python_version = "3.9"
